{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/react-in-jsx-scope": 0,
    "no-restricted-globals": 0,
    "semi": 0,
    "quotes": 0,
    "react/prop-types": 0,
    "react/destructuring-assignment": 0,
    "no-undef": 1,
    "prefer-destructuring": 0,
    "no-plusplus": 0,
    "react/no-unescaped-entities": 0
  }
}
