* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

:root, html[data-theme='light'] {
    --bg-color: hsl(100, 8%, 99%);
    --primary-text-color: hsl(228, 4%, 22%);
    --second-text-color: hsl(12, 4%, 52%);
    --title-font-wgt: 500;
}

html[data-theme='dark'] {
    --bg-color: hsl(216, 8%, 13%);
    --primary-text-color: hsl(216, 4%, 86%);
    --second-text-color: hsl(216, 3%, 50%);
    --title-font-wgt: 400;
}

body {
    background-color: var(--bg-color);
}

main {
    margin: 0 14vw 0 11.5vw;
}

h1, h2, h3, h4, h5, h6, p, a, footer {
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h6, a, footer {
    color: var(--primary-text-color);
}

h5, p {
    color: var(--second-text-color);
}

h1 {
    font-size: 2.2rem;
    font-weight: var(--title-font-wgt);
    line-height: 1.65em;
    margin: 0;
}

h2 {
    margin-right: 0;
    width: 37%;
    text-align: right;
}

h2, h3, h5, p, a {
    font-weight: var(--title-font-wgt);
}

h2, h5 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.025rem;
}

h3, p, a {
    font-size: 1.1rem;
}

h5 {
    line-height: 0.5em;
    margin-bottom: 4vh;
}

p {
    line-height: 1.65em;
}

a {
    text-decoration: none;
}

body > div {
    position: absolute;
    top: 10.5%;
    right: 6%;
    width: 3.25rem;
    height: 3.25rem;
}

#dark-mode-btn {
    content: "";
    width: 100%;
    height: 100%;
    outline: none;
    border: 2px solid var(--primary-text-color);
    border-radius: 50%;
    background-color: var(--primary-text-color);
    cursor: pointer;
    position: relative;
    box-shadow: 0 3px 3px rgb(0,0,0,0.2);
}

.material-symbols-rounded, .material-icons-round {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bg-color) !important;
}

.material-symbols-rounded {
  font-size: 1.9rem !important;
  visibility: visible;
}

.material-icons-round {
  font-size: 1.8rem !important;
  visibility: hidden;
}

#work, #about, #contact, #blog {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    padding: 10.5vh 0;
}

#work section, #about div, #blog div, #contact div {
    width: 51%;
}

#home {
    height: 62vh;
}

#home div {
    display: flex;
    flex-flow: column;
    margin: 28.5vh 0 0;
}

#work {
    height: max-content;
}

#work section {
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
    row-gap: 5vh;
    overflow-x: visible;
}

#work article {
    padding: 1.5vh 0;
    height: 35vh;
}

#work p {
    width: 97%;
}

.work__links {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    justify-content: space-between;
    width: 24%;
    margin-bottom: 2.5vh;
}

#contact div {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 24vh;
}

#contact div a {
    width: max-content;
}

footer {
    padding: 8vh 0;
    font-size: 0.9rem;
}

