* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    background-color: #121212;
}

main {
    padding: 0 12vw;
}


h1, h2, h3, h4, h5, h6, p, a, footer {
    font-family: 'Mulish', sans-serif;
    background: transparent;
    color: #c0c0c0;
}

h1, h2, h3, h4, h5, h6, p, a {
    padding: 0;
}

h3, p, a {
    font-weight: 300;
    font-size: 1.85rem;
}

p, a {
    text-decoration: none;
    background: transparent;
}

h1 {
    font-size: 4.5rem;
    font-weight: 400;
    margin-top: 30vh;
}

h2 {
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 0;
}

h3 {
    margin: 0;
    font-weight: 400;
    font-size: 4rem;
}

h4 {
    font-size: 1.125rem;
    font-weight: 400;
}

a {
    display: flex;
    flex-flow: row;
    align-items: center;
    position: relative;
    width: max-content;
    height: 4vh;
}

span {
    display: flex;
    flex-flow: row;
    align-items: baseline;
}

#about, #work, #contact {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#home {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    height: 100vh;
    position: relative;
}

#home a {
    position: absolute;
    bottom: 7.5%;
    left: 50%;
    transform: translateX(-50%);
    transform: rotateZ(90deg);
    animation: scrollDown 0.7225s ease-out infinite alternate;
}

#home img {
    width: 2.3rem;
}

@keyframes scrollDown {
    from {
        bottom: 6.75%;
    }
    to {
        bottom: 8.75%;
    }
}

#about, #work {
    align-items: baseline;
}

#about {
    margin: 30vh 0;
    padding: 10vh 0;
}

#about div {
    width: 52%;
}

#about p, #about a {
    line-height: 1.5em;
}

#about a {
    margin-top: 15vh;
}

#about span img {
    display: inline-block;
    width: 1em;
    margin-left: 0.21em;
    transform: rotateZ(-45deg);
    transition-duration: 0.3s;
}

#about a:hover span img {
    margin: 0 0 0.7em 0.7em;
}

#work {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin: 10vh 0;
}

#work article {
    margin: 15vh 0 25vh;
    display: block;
    width: max-content;
}

#work article:last-child {
    text-align: right;
    align-self: flex-end;
}

#work a {
    display: block !important;
    transition-duration: 0.25s;
}

#contact {
    margin: 15vh 0;
}

#contact div {
    width: 52%;
}

#contact div a {
    margin-bottom: 1.5em;
}

#contact span img {
    display: inline-block;
    width: 1em;
    margin-left: 0.21em;
    transform: rotateZ(-45deg);
    transition-duration: 0.3s;
}

#contact a:hover span img {
    margin: 0 0 0.7em 0.7em;
}


footer {
    display: block;
    padding: 7vh 13vw;
    font-size: 1.25rem;
    font-weight: 300;
}

footer a {
    display: inline-block !important;
    font-size: 1.25rem !important;
    text-decoration: underline !important;
    transition-duration: 0.35s;
}

/* SUPER TINY STUFF */
@media screen and (max-width: 320px) {
    h1 {
        font-size: 2.475rem;
        margin-top: 14vh;
    }
}

/* MOST SMALLER MOBILE DEVICES */
@media screen and (min-width: 321px) and (max-width: 767px) {
    h1 {
        font-size: 3.2rem;
        margin-top: 20.5vh;
    }
}

/* ALL SMALLER MOBILE DEVICES */
@media screen and (max-width: 767px) {
    main {
        padding: 0 9vw;
    }

    #about, #contact {
        flex-flow: column;
    }

    #about div, #contact div {
        width: 100%;
    }

    h2 {
        margin-bottom: 10vh;
    }

    h3, p, a {
        font-size: 1.1rem;
    }

    #about span img, #contact span img {
        width: 1em;
    }

    footer, footer a {
        font-size: 0.9rem !important;
    }
}

/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1200px) {
    main {
        padding: 0 8vw;
    }

    #home img {
        width: 2.75rem;
    }

    #about div, #contact div {
        width: 60%;
    }

    #about a {
        margin-top: 12vh;
    }

    h2 {
        font-size: 1.05rem;
    }

    h3, p, a {
        font-size: 1.6rem;
    }

    footer, footer a {
        font-size: 1.1rem !important;
    }

    footer {
        padding: 5vh 8vw;
    }
}