* {
    box-sizing: border-box;
}

:root {
    --bkg-color:#15202b;
    --project-bkg-color: #192734;
    --tertiary-color: #22303c;
    --primary-text-color: #fff;
    --secondary-text-color: #8889a6;
    --accent-color: #50FFB1;
}

html, body {
    width: 100%;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--bkg-color);
    height: 100vh;
}

main {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin: 23vh 10vw;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-text-color);
    font-family: 'Hind', sans-serif;
}

p, a, footer {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 500;
    font-size: 3.65rem;
    margin-bottom: 2.75vh;
}

h3 {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.4em;
}

p {
    color: var(--secondary-text-color);
    font-size: 1.725rem;
    font-weight: 300;
    line-height: 1.55em;
}

a {
    text-decoration: none;
}

#home {
    width: 41%;
}

#home > div {
    display: flex;
    flex-flow: column;
}

#home p > a {
    color: var(--primary-text-color);
    transition-duration: 0.25s;
}

#home p > a:hover {
    color: var(--accent-color);
}

.home__contact {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    justify-content: space-between;
    width: 16.5rem;
    margin-top: 4.5vh;
}

.home__contact a {
    width: 2.1rem;
    height: max-content;
    transition-duration: 0.25s;
}

.home__contact a:hover {
    filter: invert(21%) sepia(57%) saturate(462%) hue-rotate(88deg) brightness(101%) contrast(101%);
}

.home__contact a img {
    width: 100%;
}

#work {
  display: flex;
  flex-flow: column;
  width: 46%;
}

#work article {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: var(--project-bkg-color);
    height: max-content;
    border: transparent;
    border-radius: 0.75rem;
    padding: 0.775rem 3.25rem;
    margin: 0.8vh 0;
    transition-duration: 0.3s;
}

#work article:hover {
    background-color: var(--tertiary-color);
}

.work__links {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    justify-content: flex-end;
    width: 13%;
}

.work__links a {
    color: var(--primary-text-color) !important;
    transition-duration: 0.25s;
    margin-left: 0.25rem;
}

.work__links a:hover {
    color: var(--accent-color) !important;
}

.work__links a span {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1.25em !important;
}

/* ALL SMALLER MOBILE DEVICES */
@media screen and (max-width: 767px) {
    body {
        height: max-content;
    }

    main {
        flex-flow: column;
        justify-content: flex-start;
        height: max-content;
        margin: 0 7.5vw;
    }

    h1 {
        margin-bottom: 4vh;
    }

    h3 {
        align-items: center;
    }

    #home, #work {
        width: 100%;
    }

    #home {
        padding: 7.5vh 0 0;
    }

    .home__contact {
        width: 14.5rem;
    }

    .home__contact a {
        width: 1.9rem;
    }

    #work {
        padding: 10vh 0 7.5vh;
    }

    #work article {
        padding: 0.775rem 2.35rem;
    }
}

/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1200px) {
    main {
        margin: 23vh 6.5vw;
    }

    #home {
        width: 43%;
    }

    .home__contact {
        width: 16rem;
        margin-top: 2vh;
    }

    #work {
        width: 51.5%;
    }
}
