* {
  box-sizing: border-box;
}

:root {
  --font-size-sm: clamp(1.48rem, 0.4vw + 1.32rem, 1.68rem);
  --font-size-base: clamp(1.55rem, 0.32vw + 1.42rem, 1.725rem);

  --font-main: Jost, "Segoe UI", Arial, Helvetica, sans-serif;

  --text-color-primary: hsl(0, 0%, 17.5%);
  --text-color-secondary: hsla(0, 0%, 20%, 0.7);
  --page-background: hsl(0, 0%, 98%);
  --image-background: hsl(0, 0%, 95%);
}

html,
body {
  width: 100%;
}

html {
  font-size: 10px;
  margin: 0;
}

body {
  background: var(--page-background);
  font: 400 var(--font-size-base) var(--font-main);
  width: clamp(32.5%, 45rem, 88%);
  margin: auto;
  letter-spacing: 0.015em;
}

h1,
h2,
a {
  color: var(--text-color-primary);
  text-decoration: none;
}

h1,
h2 {
  font: inherit;
  font-size: inherit;
  line-height: 1.45em;
}

footer,
p {
  color: var(--text-color-secondary);
  line-height: 1.8em;
}

.full-page {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.full-page__heading {
  margin-bottom: min(5rem, 7.5%);
}

.full-page__body {
  margin: 0.5em 0;
}

.neat-link {
  display: inline;
  width: max-content;
  color: var(--text-color-primary);
  border-bottom: 0.1em solid var(--text-color-secondary);
  transition: border-bottom 0.25s;
}

/* Projects */
.projects {
  display: flex;
  flex-flow: column;
  row-gap: 15rem;
}

.project__image-wrapper,
.project__image {
  border-radius: 0.375rem;
}

.project__image-wrapper {
  background: var(--image-background);
  padding: 12.5% 0;
  display: grid;
  place-items: center;
}

.project__image {
  width: 77.5%;
  transition:
    box-shadow 0.375s,
    transform 0.375s;
}

.project__heading {
  margin: 7.5% 0;
}

.project__body {
  font-size: var(--font-size-sm);
  margin: 2rem 0;
}

/* Configure Dark Mode Color Scheme */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color-primary: hsl(36, 10%, 75%);
    --text-color-secondary: hsla(36, 10%, 90%, 0.5);
    --page-background: hsl(180, 4%, 5%);
    --image-background: hsl(180, 3%, 6%);
  }
}

/* Add Hover Effects on Desktop */
@media screen and (min-width: 1024px) {
  .project__image-wrapper:hover .project__image {
    box-shadow: 0 0.9rem 2.2rem -0.2rem hsla(0, 0%, 0%, 0.05);
    -webkit-box-shadow: 0 0.9rem 2.2rem -0.2rem hsla(0, 0%, 0%, 0.05);
    -moz-box-shadow: 0 0.9rem 2.2rem -0.2rem hsla(0, 0%, 0%, 0.05);
    transform: translateY(-0.35rem) scale(1.01);
  }

  .neat-link:hover {
    border-bottom-color: var(--text-color-primary);
  }
}
