* {
  box-sizing: border-box;
}

:root {
  --text-color-primary: hsl(0, 0%, 17.5%);
  --text-color-secondary: hsla(0, 0%, 20%, 0.675);
  --page-background: hsl(0, 0%, 100%);
}

html,
body {
  width: 100%;
}

html {
  margin: 0;
}

body {
  background: var(--page-background);
  font:
    400 1.05rem system-ui,
    sans-serif;
  width: clamp(28%, 30rem, 89%);
  margin: auto;
  line-height: 1.8em;
}

h1,
h2,
p,
a {
  font: inherit;
}

h1,
h2,
a {
  color: var(--text-color-primary);
  text-decoration: none;
}

h1 {
  margin: 22vh 0 3rem;
}

h2 {
  margin: 1.75rem 0;
}

p {
  color: var(--text-color-secondary);
}

.neat-link {
  display: inline-block;
  width: max-content;
}

.neat-link:after {
  content: " ↗";
  color: inherit;
}

/******************* Projects *******************/

.project {
  margin: 12rem 0;
}

.project__image {
  width: 100%;
  margin-bottom: 1.5rem;
}

/******************* Contact *******************/

.contact {
  margin: 30vh 0;
}

.contact__neat-links {
  display: flex;
  flex-flow: column;
  row-gap: 0.325rem;
}

/******************* Configure Dark Mode Color Scheme *******************/

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-primary: hsl(210, 22%, 89%);
    --text-color-secondary: hsla(210, 22%, 89%, 0.65);
    --page-background: hsl(210, 9%, 7%);
  }
}
