* {
  box-sizing: border-box;
}

:root {
  --font-size-sm: clamp(1.52rem, 0.32vw + 1.25rem, 1.68rem);
  --font-size-base: clamp(1.57rem, 0.35vw + 1.32rem, 1.72rem);

  --text-color-primary: hsl(0, 0%, 20%);
  --text-color-secondary: hsla(0, 0%, 20%, 0.7);
  --page-background: hsl(0, 0%, 99%);
  --image-background: hsl(0, 0%, 97%);
}

html,
body {
  width: 100%;
}

html {
  font-size: 10px;
  margin: 0;
}

body {
  background: var(--page-background);
  font:
    400 var(--font-size-base) Jost,
    "Segoe UI",
    Arial,
    Helvetica,
    sans-serif;
  width: clamp(32.5%, 45rem, 88%);
  margin: auto;
  letter-spacing: 0.025em;
}

h1,
h2,
a {
  color: var(--text-color-primary);
  text-decoration: none;
}

h1,
h2 {
  font: inherit;
  font-size: inherit;
  line-height: 1.45em;
}

footer,
p {
  color: var(--text-color-secondary);
  line-height: 1.8em;
}

.full-page {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.full-page__heading {
  margin-bottom: min(5rem, 7.5%);
}

.full-page__body {
  margin: 0.5em 0;
}

.neat-link {
  display: inline-block;
  width: max-content;
}

.neat-link:after {
  content: " ↗";
  color: inherit;
}

/* Projects */
.projects {
  display: flex;
  flex-flow: column;
  row-gap: 15rem;
}

.project__image-wrapper,
.project__image {
  border-radius: 0.375rem;
}

.project__image-wrapper {
  background: var(--image-background);
  padding: 12.5% 0;
  display: grid;
  place-items: center;
}

.project__image {
  width: 80%;
  transition:
    box-shadow 0.375s,
    transform 0.375s;
}

.project__heading {
  margin: 8.5% 0 3.75%;
}

.project__body {
  font-size: var(--font-size-sm);
  margin: 2rem 0;
}

/* Configure Dark Mode Color Scheme */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color-primary: hsl(36, 10%, 76%);
    --text-color-secondary: hsla(36, 10%, 76%, 0.6);
    --page-background: hsl(180, 4%, 5.5%);
    --image-background: hsl(180, 4%, 6.625%);
  }
}

/* Add Hover Effects */
@media screen and (hover: hover) {
  .project__image-wrapper:hover .project__image {
    box-shadow: 0 0.625rem 1.5rem -0.15rem hsla(0, 0%, 0%, 0.1);
    -webkit-box-shadow: 0 0.625rem 1.5rem -0.15rem hsla(0, 0%, 0%, 0.1);
    -moz-box-shadow: 0 0.625rem 1.5rem -0.15rem hsla(0, 0%, 0%, 0.1);
    transform: translateY(-0.375rem) scale(1.01);
  }
}
