@import '../../assets/styles/variables.scss';
@import '../../assets/styles/classes.scss';

main {
    padding-top: clamp(13%, 14.5rem, 36%);
    width: clamp(40%, 55rem, 92%);
    margin: auto;
    @extend .flex-column;
}

.main__heading {
    padding-bottom: 2rem;
}
