.home__title {
  font-size: clamp(3.5rem, 12vw, 20rem);
  margin: 11vmax 0;
  overflow: hidden;
}

.home__title__second-line {
  @media screen and (max-width: 599px) {
    flex-flow: column !important;
    align-items: flex-start !important;
  }
}

.home__subtitle {
  width: 17.5%;
  margin: 2.5em 0 0 1.5em;

  @media screen and (max-width: 599px) {
    width: 65%;
    margin-left: 0;
  }
}
