.project-card {
  padding: clamp(1.75rem, 4vw, 6.5rem) 0;
}

.project-card__overview {
  margin: 1em 0 0;
  opacity: 0.65;
  @media screen and (max-width: 599px) {
    display: none;
  }
}

.work__project-image {
  opacity: 0;
  transition-duration: 0.25s;
}
