.project-card {
  padding: 3vh 0 5.75vh;
  position: relative;
}

.project-card__index {
  margin-right: 1.25em;
}

.project-card__image {
  width: 50%;
  height: auto;
  position: absolute;
  top: 60%;
  right: 30%;
  transform: translateY(-60%);
  z-index: 2;
}