.contact {
  padding: clamp(6rem, 13vw, 35rem) 0;

  h2 {
    width: 40%;

    @media screen and (max-width: 599px) {
      width: 100%;
      margin-bottom: 2em;
    }
  }

  li {
    padding: 0.125em 0;
  }

  @media screen and (max-width: 599px) {
    flex-flow: column !important;
    align-items: flex-start !important;
  }
}
