@import "../../layout/Layout.scss";

.width-50 {
  width: 50%;
}

.case-study-image__wide {
  width: 100vw;
  height: 100%;
  margin: 0 calc(var(--page-spacing) * -1);
}

.case-study-margins {
  margin: 0 0 5em;
}
