.project-image-container {
  margin: 10vh 0;
  width: 100vw;

  img {
    width: 100%;
  }
}

.project-image-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bkg-color);
  z-index: 2;
  height: 0;
}

@keyframes remove-image-cover {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}
