/* 
/////////////////////////////////////////////////////////////////////////////////////////////
//
//  Font Family:    Neue Montreal
//  Font Weight:    Thin
//
/////////////////////////////////////////////////////////////////////////////////////////////
*/

@font-face {
  font-family: "Neue Montreal - Thin";
  font-weight: normal;
  font-style: normal;
  src: url("../public/fonts/NeueMontreal-Thin.woff") format("woff"),
    url("../public/fonts/NeueMontreal-Thin.otf") format("opentype");
}

/* 
/////////////////////////////////////////////////////////////////////////////////////////////
//
//  Font Family:    Neue Montreal
//  Font Weight:    Book
//
/////////////////////////////////////////////////////////////////////////////////////////////
*/

@font-face {
  font-family: "Neue Montreal - Book";
  font-weight: normal;
  font-style: normal;
  src: url("../public/fonts/NeueMontreal-Book.woff") format("woff"),
    url("../public/fonts/NeueMontreal-Book.otf") format("opentype");
}

/* 
/////////////////////////////////////////////////////////////////////////////////////////////
//
//  Font Family:    Neue Montreal
//  Font Weight:    Medium
//
/////////////////////////////////////////////////////////////////////////////////////////////
*/

@font-face {
  font-family: "Neue Montreal - Medium";
  font-weight: normal;
  font-style: normal;
  src: url("../public/fonts/NeueMontreal-Medium.woff") format("woff"),
    url("../public/fonts/NeueMontreal-Medium.otf") format("opentype");
}

/* 
/////////////////////////////////////////////////////////////////////////////////////////////
//
//  Font Family:    Neue Montreal
//  Font Weight:    Bold
//
/////////////////////////////////////////////////////////////////////////////////////////////
*/

@font-face {
  font-family: "Neue Montreal - Bold";
  font-weight: normal;
  font-style: normal;
  src: url("../public/fonts/NeueMontreal-Bold.woff") format("woff"),
    url("../public/fonts/NeueMontreal-Bold.otf") format("opentype");
}