/* 
/////////////////////////////////////////////////////////////////////////////////////////////
//
//  Font Family:    HK Grotesk
//  Font Weight:    Light
//
/////////////////////////////////////////////////////////////////////////////////////////////
*/

@font-face {
    font-family: 'HK Grotesk - Light';
    font-weight: normal;
    font-style: normal;
    src: url('../public/fonts/HKGrotesk-Light.woff') format('woff'),
        url('../public/fonts/HKGrotesk-Light.otf') format('opentype'),
}





/* 
/////////////////////////////////////////////////////////////////////////////////////////////
//
//  Font Family:    HK Grotesk
//  Font Weight:    Medium
//
/////////////////////////////////////////////////////////////////////////////////////////////
*/

@font-face {
    font-family: 'HK Grotesk - Medium';
    font-weight: normal;
    font-style: normal;
    src: url('../public/fonts/HKGrotesk-Medium.woff') format('woff'),
        url('../public/fonts/HKGrotesk-Medium.otf') format('opentype'),
}





/* 
/////////////////////////////////////////////////////////////////////////////////////////////
//
//  Font Family:    HK Grotesk
//  Font Weight:    Regular
//
/////////////////////////////////////////////////////////////////////////////////////////////
*/

@font-face {
    font-family: "HK Grotesk - Regular";
    font-weight: normal;
    font-style: normal;
    src: url('../public/fonts/HKGrotesk-Regular.woff') format('woff'),
        url('../public/fonts/HKGrotesk-Regular.otf') format('opentype'),
}