@import './assets/styles/variables.scss';
@import './assets/styles/classes.scss';

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 100%;
}

html {
    font-size: 10px;
    height: 100%;
}

body {
    background: $background;
    font-family: $font-main;
}

h1,
h2,
h3 {
    color: $black;
    font-weight: 500;
}

h1,
h2,
h3,
p, 
footer {
    font-size: $font-size-base;
}

p,
footer {
    line-height: 1.8em;
    color: $black-70;
    margin: 1.5em 0;
}

a {
    color: $accent;
    transition-duration: 175ms;
    text-decoration: none;

    &:hover {
        color: $accent-60;
    }
}

::selection {
    color: $background;
    background-color: $accent;
}