@import url('./fonts.css');

html, body {
    width: 100%;
    margin: 0;
}

html {
    font-size: 16px;
}

h1, h2, h3, h4, header, footer, p, a {
    font-family: 'HK Grotesk';
}

h1, h2, h3, h4, p, a {
    font-weight: normal;
}

header, footer {
    font-weight: light;
}

button, a {
    outline: none;
    border: none;
    background: transparent;
    font-family: inherit;
    color: inherit;
    text-decoration: none;

    &:hover {
        background: transparent;
    }
}

.flex-row {
    display: flex;
    flex-flow: row;
}

.flex-col {
    display: flex;
    flex-flow: column;
}

.flex-al-center {
    align-items: center;
}

.flex-just-spc-btwn {
    justify-content: space-between;
}