// Reused classes
.flex-column {
    display: flex;
    flex-flow: column;
}

.align-items-center {
    align-items: center;
}

.center-wrapper {
    @extend .flex-column;
    @extend .align-items-center;
}