// Font Sizes
$font-size-base: clamp(1.52rem, 0.31vw + 1.33rem, 1.73rem);

// Fonts
$font-main: 'Hind Siliguri', Arial, Helvetica, sans-serif;

// Colors
$black: rgba(10, 10, 10, 100%);
$black-70: rgba(10, 10, 10, 70%);

$background: rgba(255, 255, 255, 100%);

$accent: rgba(56, 80, 240, 100%);
$accent-60: rgba(56, 80, 240, 60%);
