// Font Sizes
$font-size-sm: clamp(1.35rem, 0.34vw + 1.1rem, 1.46rem);
$font-size-base: clamp(1.52rem, 0.3vw + 1.23rem, 1.7rem);
$font-size-md: clamp(1.69rem, 0.58vw + 1.55rem, 2.01rem);

// Fonts
$font-main: 'Segoe UI', Arial, Helvetica, sans-serif;

// Colors
$black: rgba(10, 10, 10, 100%);
$black-70: rgba(10, 10, 10, 70%);
$black-10: rgba(10, 10, 10, 10%);

$background: rgba(255, 255, 255, 100%);
