#custom-cursor {
    display: block;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    padding: 2.25rem;
    background: #FF0022;
    opacity: 0.625;
    z-index: 10001;
}