#custom-cursor {
  display: block;
  border: 0.125rem solid #f2f2f2;
  mix-blend-mode: difference;
  opacity: 0.225;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  padding: 2.5rem;
  z-index: 10000;
}
