#custom-cursor {
    display: block;
    background: transparent;
    border: 0.1rem solid #d2d2d2;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    padding: 2rem;
    z-index: 10000;
}