.anchorlink {
  position: relative;
  margin-bottom: 0.5em;

  &:hover .anchorlink__underline {
    width: 100%;
  }
}

.anchorlink__underline {
  content: "";
  position: absolute;
  bottom: -0.125em;
  display: block;
  width: 0;
  background: var(--text-color);
  height: 0.0625em;
  transition-duration: 0.25s;
}
