.anchorlink {
  position: relative;
  margin-bottom: 0.4em;
}

.anchorlink__underline {
  content: "";
  position: absolute;
  bottom: 0.1em;
  display: block;
  width: 0;
  background: var(--text-color);
  height: 0.0625em;
  animation: show-underline 500ms 1 forwards;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes show-underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
