.anchorlink {
  position: relative;
  margin-bottom: 0.25em;

  &:hover 
  .anchorlink__underline {
    width: 100%;
  }
}

.anchorlink__underline {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 0;
  background: var(--text-color);
  height: 0.075em;
  transition-duration: 0.5s;
}